body {
    --background: #EFEFEF;
    --primary: #333D29;
    --secondary: #43281C;
    --ternary: #7F4F24;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--background);
}

h1 {
    font-size: 25px;
    color: var(--primary);
}
h2 {
    font-size: 20px;
    color: var(--secondary);
}
h3 {
    font-weight: normal;
}

button {
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--ternary);
    padding: 12px 21px;
    border-radius: 8px;
    margin-top: 12px;
    font-size: large;
    
}

label, input, textarea {
    display: block;
}

textarea {
    margin-top: 16px;
    width: 90%;
    
}